﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .privacy-container {
        max-width: 1100px; /* ширината като на снимката */
        margin: 0 auto; /* центриране */
        padding: 0 20px; /* малко въздух отстрани */
    }

    .title {
        text-align: center;
        margin-bottom: 40px;
    }

    .privacy-container h3 {
        margin-left: 20px; /* отстъп навътре */
        color: #000;
    }

    .privacy-container p {
        margin-left: 20px; /* текстът да започва под заглавието */
        line-height: 1.6;
    }
</style>
<div class="privacy-container">
    <h1 style="text-align:center;">Политика за поверителност на уеб сайта</h1>
    <br></br>

    <h3>1. Администратор на данните</h3>
    <p>
        Бихме искали да Ви предоставим информация за начина, по който събираме и обработваме личните Ви данни на сайта www.ozone.bg.
        Администратор на данни на сайта (наричан по-нататък още „Ние“, “Нас”) е Озон Ентъртейнмънт АД, ЕИК: 205823722, който отговоря
        за опазването на Вашите лични данни.
    </p>

    <p style="color:black">За връзка с нас:</p>
    <p>
        Озон Ентъртейнмънт АД София 1700, бул. "Цариградско шосе" 115 Г, ет. 3, "Мегапарк Бизнес Център", офис на Ozone.bg И-мейл: contacts@ozone.bg Телефон: 0700 20 696

        От изключителна важност е информацията, която съхраняваме за Вас да е точна и актуална. Моля, уведомете ни, ако в някакъв момент има промяна в личната Ви информация, като кликнете  тук , за да актуализирате личните си данни в потребителския си профил.

        Моля обърнете внимание - с предоставянето на личните Ви данни, Вие потвърждавате, че имате навършени 13 години. В случай, че това не е така, следва незабавно да се свържете с нас, за да предприемем действия по заличаването им.
    </p>
    <br></br>
    <h3>2. Какви данни събираме за Вас, с каква цел и на какво основание ги обработваме</h3>

    <p>Лични данни са всяка информация, която може да идентифицира дадено лице. Анонимните данни не се включват в тази категория. Ние обработваме следните категории лични данни:</p>

    <p>• Комуникационни данни Включват всяко съобщение, което ни изпращате, независимо дали е чрез комуникационната форма на нашия сайт, чрез имейл, съобщение или публикация в социални мрежи или друг вид изпратено съобщение. Ние обработваме тези данни с цел комуникация с Вас, за водене на документация и за установяване, изпълнение или защита на правни искове. Юридическата обосновка за това обработване са нашите легитимни интереси, които в този случай са отговаряне на изпратените до нас съобщения, водене на документация и за водене или защита на правни искове.</p>


    <p>
        • Данни на клиента. Включват данни, свързани с покупката на стоки и/или услуги, като например Вашето име, адрес за фактуриране, адрес за доставка, имейл адрес, други данни за контакт (телефонен номер), статистика за Вашите покупки и други. Ние обработваме тези данни, за да доставим закупените от Вас стоки и/или услуги и да водим отчети за такива сделки. Юридическата обосновка за това обработване е изпълнението на договор между Вас и нас и/или предприемане на стъпки по Ваше искане за сключване на такъв договор.
    </p>

    <p>
        • Потребителски данни. Включват данни за това как използвате нашия уеб сайт и други онлайн услуги, заедно с всички данни, които публикувате на нашия уеб сайт или чрез други онлайн услуги. Ние обработваме тези данни, за да управляваме нашия уеб сайт и да гарантираме, че Ви предоставяме подходящо съдържание, да гарантираме неговата сигурност, да поддържаме резервни копия на нашия уеб сайт и/или база данни и за да имаме възможност за управление и администриране на нашия уеб сайт, други оналйн услуги и бизнес. Юридическата обосновка за това обработване са легитимните ни интереси, които в този случай ни позволяват правилното администриране на нашия уеб сайт и бизнес.
    </p>
    <p>
        • Технически данни. Включват данни, свързани с употребата на нашия уеб сайт и онлайн услуги, като Вашия IP адрес, данните за вход, подробности за Вашия браузър, продължителност на посещението на страниците на нашия уеб сайт, прегледи на страници и навигационни пътища, подробности за броя посещения на нашия уеб сайт, настройките на часовите зони и други технологии на устройствата, които използвате за достъп до нашия уеб сайт. Източникът на тези данни е от системата ни за проследяване на анализи. Ние обработваме тези данни, за да анализираме използването на нашия уеб сайт и други онлайн услуги, да администрираме и защитим нашия бизнес и уеб сайт, да предоставим подходящо съдържание и реклами, и да разберем ефективността от нашите реклами. Юридическата обосновка за това обработване са легитимните ни интереси, които в този случай ще ни позволят правилно да администрираме нашия уеб сайт и бизнес, да развиваме бизнеса си и да определяме нашата маркетингова стратегия.
    </p>
    <p>
        • Маркетингови данни. Включват данни, свързани с Вашите предпочитания за получаване на маркетингова информация от нас и трети страни, и предпочитаният от Вас начин за комуникация. Ние обработваме тези данни, за да можем да Ви включваме в нашите промоции, като например игри, награди и безплатни подаръци, да Ви предоставяме адекватно съдържание и реклами, и съответно да разберем ефективността на тези реклами. Юридическата обосновка за това обработване са легитимните ни интереси, които в този случай ще ни помогнат да проучим как клиентите използват нашите продукти/услуги, да ги развиваме, да развиваме бизнеса си и да определяме нашата маркетингова стратегия.
    </p>
    <p>
        • Можем да използваме Данните на клиента, Потребителските данни, Техническите данни и Маркетинговите данни, за да Ви предоставим адекватно съдържание и реклами (включително реклами във Facebook или други реклами) и съответно да разберем ефективността на предоставените реклами. Юридическата обосновка за това обработване са легитимните ни интереси, които са свързани с разрастването на бизнеса ни. Също така можем да използваме тези данни, за да Ви изпратим други маркетингови съобщения. Юридическата обосновка за това обработване е или съгласие, или законни интереси (а именно разрастване на нашия бизнес).
    </p>
    <p>
        Конфиденциални данни
    </p>
    <p>
        Ние не събираме никакви конфиденциалнни дании за Вас. Конфиденциални са данните свързани с Вашата раса или етническа принадлежност, религиозни или философски убеждения, сексуален живот, сексуална ориентация, политически възгледи, членство в синдикални организации, информация за Вашето здраве, генетични и биометрични данни. Ние не събираме информация за наказателни присъди и престъпления.
    </p>
    <p>
        Моля обърнете внимание - когато от нас се изисква да събираме лични данни по закон или съгласно условията на договора между нас и Вие не ни предоставите тези данни при поискване, може да не успеем да изпълним договора (например да Ви доставим стоки или услуги). Ако не ни предоставите поисканите данни, може да се наложи да отменим поръчания от Вас продукт, но ако го направим, ще Ви уведомим навреме.
    </p>
    <p>
        Ние ще използваме личните Ви данни само за целта, поради която са събрани или ако e необходимо за цел близка по смисъл до основната. За повече информация, моля пишете ни на contacts@ozone.bg. В случай че се наложи да ползваме данните Ви за несвързана нова цел, ние ще Ви уведомим, като изложим юридическите причини за действията си.
    </p>
    <p>
        Възможно е да обработим личните Ви данни без Вашето знание или съгласие, но само в рамките на позволеното от закона. Ние не извършваме автоматизирано вземане на решения или автоматизирано профилиране.
    </p>

    <br></br>

    <h3>3. Начини на събиране на личните Ви данни:</h3>
    <p>
        • Предоставени ни лично от Вас (например чрез попълване на формуляри на нашия сайт или чрез изпращане на имейли);

        • Автоматично събиране на определени данни, получени от Вас, когато използвате нашия уеб сайт, чрез използването на бисквитки и други подобни технологии. Моля, вижте правилата ни за бисквитките за повече подробности  тук .

        • Може да получаваме данни от трети страни, като: доставчици на анализи (например Google), базирани извън ЕС; рекламни мрежи (например Facebook), базирани извън ЕС; доставчици на информация за търсене (например Google), базирани извън ЕС; доставчици на технически, разплащателни и доставни услуги, информационни брокери или агрегатори.
    </p>
    <br></br>

    <h3>4. Маркетингови комуникации</h3>
    <p>
        Юридическата обосновка за обработване на личните Ви данни с цел маркетингови комуникации e: Ваше съгласие или наши легитимни интереси (например - за да разширим нашия бизнес).
    </p>
    <p>
        Съгласно законовите разпоредби за защита на личните данни и електронните съобщения може да Ви изпращаме маркетингови съобщения, ако:
    </p>
    <p>

        (А) извършите покупка, регистрирате се на сайта ни или отправите запитване към нас относно наши стоки или услуги; или
    </p>
    <p>
        (Б) сте се съгласили да получавате маркетингови съобщения,като и в двата случая не сте изрично отказали да получавате такива съобщения. Съгласно законовите разпоредби, ако сте юридическо лице, може да Ви изпращаме маркетингови имейли и без Вашето съгласие. В този случай също може да се откажете от получаване на маркетингови имейли от нас по всяко време.
    </p>
    <p>
        Преди да споделим личните Ви данни с трети страни за техни маркетингови цели, ще поискаме изричното Ви съгласие.
    </p>
    <p>
        Може да изискате от нас да спрем изпращането на маркетингови съобщения до Вас по всяко време чрез влизане в уеб сайта и вашия профил, и добавяне, или отмяна на съответните полета/опции, за да коригирате маркетинговите си предпочитания.
    </p>
    <p>
        Моля обърнете внимание - ако откажете да получавате маркетингови съобщения, този отказ не се отнася за лични данни, предоставени в резултат на други транзакции като покупки, гаранционни записи и др.
    </p>
    <br></br>

    <h3>5. Споделяне на личните Ви данни</h3>
    <p>
        Възможно е да споделим личните Ви данни със следните страни:
    </p>
    <p>
        • Доставчици на услуги, които предоставят ИТ услуги и системна администрация;
    </p>
    <p>
        • Професионални консултанти, включително адвокати, банкери, одитори и застрахователи;
    </p>
    <p>
        • Правителствени органи, които изискват от нас да докладваме за процесите по обработка;
    </p>
    <p>
        • Куриерски компании;
    </p>
    <p>
        • Трети страни, които придобиват или сливат части от нашия бизнес или активи.
    </p>
    <p>
        Ние изискваме от всички трети страни, на които прехвърляме Вашите данни да спазват сигурността на личните Ви данни и да ги третират съгласно закона. Третите страни могат да обработват личните Ви данни само за конкретно определени цели и в съответствие с нашите указания.
    </p>
    <br></br>

    <h3>6. Сигурност на данните</h3>
    <p>
        Въвели сме мерки за сигурност, за да предотвратим случайно изгубване, използване, промяна, разкриване или достъп до личните Ви данни без разрешение. Предоставяме достъп до личните Ви данни единствено на тези служители и партньори, които имат бизнес нужда да ползват такива данни. Те са инструктирани да обработват личните Ви данни според нашите указания и да спазват правилата за конфиденциалност.
    </p>
    <p>
        Имаме процедура за справяне при съмнение за изтичане на информация на личните Ви данни и ще Ви уведомим, както и съответните регулатори, относно подобен тип нарушения, ако и когато е необходимо.
    </p>
    <br></br>

    <h3>7. Запазване на данните</h3>
    <p>
        Ще пазим личните Ви данни толкова време, колкото е необходимо, за да изпълним целите, за които сме ги събрали, или с оглед удовлетворяването на законови, счетоводни или отчетни изисквания.
    </p>
    <p>
        Когато решаваме за колко време да съхраняваме тези данни, ние преценяваме тяхното количество, естество и чувствителност, потенциалния риск от неразрешено използване или разкриване и целите на обработката, както и дали те могат да бъдат постигнати чрез други средства и законови изисквания.
    </p>
    <p>
        Моля обърнете внимание - данъчните закони изискват от нас да съхраняваме основна информация за нашите клиенти (като данни за контакт, самоличност, финансови данни и данни за транзакции) в продължение на до десет години, след като престанате да бъдате наши клиенти.
    </p>
    <p>
        При определени обстоятелства можем да превърнем Вашите лични данни в анонимни такива с цел изследване или статистика, като в подобни случаи можем да използваме тази информация неограничено и без да Ви известяваме.
    </p>
    <br></br>

    <h3>8. Вашите права</h3>
    <p>
        Съгласно законите за защита на личните данни имате права по отношение на личните Ви данни, които включват правото да поискате достъп, коригиране, изтриване, ограничаване, прехвърляне, възражения срещу обработка, преносимост на данни и (когато юридическата обосновка за обработка е съгласие) да оттеглите съгласието си.

        Вижте повече за тези права на следния адрес:  https://www.cpdp.bg/?p=rubric&aid=2
    </p>
    <p>
        Ако желаете да упражните някое от горепосочените си права, моля свържете се с нас на: contacts@ozone.bg
    </p>
    <p>
        Такса за достъп до личните Ви данни (или за упражняване на някое от другите права) не се заплаща . Въпреки това, законът ни позволява да наложим разумна такса, ако молбата Ви очевидно е неоснователна, повтаряща се или прекалена, или не е съвместима със заявката Ви при горните обстоятелства.
    </p>
    <p>
        Може да се наложи да поискаме от Вас конкретна информация, за да потвърдим самоличността Ви и да гарантираме Вашето право на достъп до личните Ви данни (или да упражните някое от другите Ви права). Тази мярка за сигурност гарантира, че личните Ви данни не се разкриват на лица, които нямат право да ги получават. Също така може да се свържем с Вас, за да поискаме допълнителна информация по отношение на Вашата молба, с цел да ускорим нашия отговор.
    </p>
    <p>
    </p>   Срокът за отговор на всички легитимни искания е един месец. В случай че искането Ви е особено сложно или сте отправили няколко искания и не можем да Ви отговорим в рамките на месец, ще Ви уведомим.
    <p>
        Ако не сте доволни от начина на събиране и използване на Вашите данни, имате право да подадете жалба до Комисията за защита на личните данни ( https://www.cpdp.bg ). Ще Ви бъдем благодарни, ако при възражение или оплакване, първо се свържете с нас, за да намерим начин за разрешаване на проблема.
    </p>
    <br></br>

    <h3>9.Връзки на трети страни</h3>
    <p>Този уеб сайт може да включва връзки към други уеб сайтове, плъгини и приложения на трети страни. Кликването върху тези връзки или активирането им може да позволи на трети страни да събират или споделят данни за Вас. Ние не контролираме тези уеб сайтове и съответно не носим отговорност за техните декларации за поверителност. Когато напускате нашия уеб сайт, Ви препоръчваме да прочетете съобщението за поверителност на всеки уеб сайт, който посещавате.</p>
    <br></br>

    <h3>10. Бисквитки</h3>
    <p>Можете да настроите браузъра си да откаже всички или някои бисквитки или да Ви предупреждава, когато уеб сайтовете задават или имат достъп до бисквитки. Ако деактивирате или откажете бисквитките, моля, имайте предвид, че някои части от този уеб сайт може да станат недостъпни или да не функционират правилно. За повече информация относно бисквитките, които ползваме, моля, вижте  тук .</p>

</div>